* {
box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-image: url("images/patt.png");
}

header {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 25px 0;
    height: 100px;
}

.container {
    width: 1200px;
    padding-left: -15px;
    padding-right: -15px;
    margin: 0 auto;
}

[class*=col-] {
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}

.menu li {
    float: left;
}

.menu::after {
    content: "";
    display: block;
    clear: both;
}

.col2 {
    float: left;
    list-style: none;
    width: 25%;
}

.menu a {
    display: block;
    color: #2c71b8;
    text-decoration: none;
    text-align: center;
    height: 50px;
    font-size: 21px;
    line-height: 50px; 
}

.menu > li, .x2 {
    border-left: 1px solid #2c71b8;
}

.shopping {
    border-right: 1px solid #2c71b8; 
}

.menu li {
    width: 25%;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col-md-3 {
    width: 25%;
}

.col-md-4 {
    width: 33.33333%;
}

.col-md-6 {
    width: 50%;
}

.col-md-8 {
    width: 66.66667%
}

.col-md-9 {
    width: 75%;
}

.col-md-12 {
    width: 100%
}

.logo {
    margin-top: 7px;
}

.border {
    height: 40px;
    width: 200px;
    margin-top: 5px;
    border: 1px solid #2c71b8;
    float: left;
}

.noborder {
    float: right;
    margin-top: 5px;
    position: relative;
}

.noborder a{
    display: block;
    background-color: #ffffff;
    width: 40px;
    height: 40px;
    list-style: 40px;
}

.noborder img {
    margin: 10px;
}

.col-md-3::after {
    content: "";
    display: block;
    clear: both;
}

.border input {
    height: 36px;
    width: 158px;
    margin: 1px;
    font-size: 21px;
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
}

.btn-search {
    height: 30px;
    width: 30px;
    background-color: #2c71b8;
    border: none;
    margin-top: 4px;
    margin-right: 4px;
    float: right;
}

input::placeholder {
    color: #2c71b8;
    font-size: 21px;
}

input:focus-visible {
    height: 32px;
    width: 155px;
    margin: 3px;
    border: none
}
/* input:focus-visible
border: none
 не працює(( */





 /* ------submenu------ */

.submenu {
    position: absolute;
    z-index: 2;
}

.submenu a {
    display: block;
    height: 40px;
    width: 286px;
    color: #ffffff;
    background-color: #2c71b8;
    text-align: left;
    padding-left: 30px;
    line-height: 40px;
}

.menu ul {
    display: none;
}

.menu li:hover > ul {
    display: block;
}

.menu a:hover {
    color: #ffffff;
    background-color: #2c71b8;
}

.submenu a:hover {
    color: #2c71b8 ;
    background-color: #ffffff;
}

.icon-4 {
    width: 15px;
}

.number4{
    height: 20px;
    width: 20px;
    background-color: #2c71b8;
    position: absolute;
    bottom: 30px;
    left: -10px;
    color: #ffffff;
    border-radius: 10px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
}

.products:hover > .x1 > a{
    color: #ffffff;
    background-color: #2c71b8;
}

[class*=angle-] {
    width: 8px;
}

.x2 {
    position: relative;
}

.angle-white {
    position: absolute;
    top: 21px;
    right: 18px;
    display: none;
}

.products:hover .angle-white{
     display: block;
}

.products:hover .angle-blue{
    display: none;
}




/* ------slider----- */


.slider {
    height: 400px;
    /* background-color: rgba(0, 0, 0, 0.2); */
    text-align: center;
    line-height: 400px;
    font-size: 80px;
    color: #ffffff;
    text-shadow: 10px 5px 5px #094c8f;
}

.slick-prev:before, .slick-next:before {
    font-size: 23px;
    text-shadow: 10px 5px 5px #094c8f;
}

.slick-dots li button {
    text-shadow: 10px 5px 5px #094c8f; 
}




/* ------main----- */




.breadcrumbs {
    height: 66px;
    color: #ffffff;
    font-size: 14px;
    line-height: 66px;
}

.category {
    height: 97px;
    color: #ffffff;
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 1px;    
}

.product {
    height: 652px;
    margin-bottom: 30px;
}

.product-image {
    background-color: #ffffff;
    height: 180px;
    position: relative;
}

.device-image img{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%)
}

/* ***************like & zoom************* */

.zoom {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    padding: 4px;
    border: 1px solid #2c71b8;
    
}

.like {
    position: absolute;
    top: 50px;
    right: 10px;
    width: 30px;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 6px;
    border: 1px solid #2c71b8;
    
}

.zoom2 {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    padding: 4px;
    border: 1px solid #2c71b8;
    background-color: #2c71b8;
    display: none;
    
}

.like2 {
    position: absolute;
    top: 50px;
    right: 10px;
    width: 30px;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 6px;
    border: 1px solid #2c71b8;
    background-color: #2c71b8;
    display: none;
}

.zooms:hover .zoom{
    display: none;
    }
    
.zooms:hover .zoom2{
    display: block;
    }
    
.likes:hover .like {
    display: none;
    }
        
.likes:hover .like2 {
    display: block;
    }



/* **************************** */

.produck-body {
    height: 472px;
    border: 1px solid #ffffff;
    color: #ffffff;
}

.produck-title {
    font-size: 30px;
    font-weight: bold;
    padding-left: 13px;
    padding-top: 13px;
}

.product-desc {
    font-size: 21px;
    font-weight: light;
    padding-left: 13px;
    padding-top: 13px;;
}

.product-features { 
    font-size: 21px;
    font-weight: light;
    padding-left: 13px;
    padding-top: 13px;
}

.product-features span {
    font-weight: bold;
    text-transform: uppercase;
}

.product-price {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px; 
    padding-bottom: 10px;
}

.product-price span {
    font-size: 28px;
    position: relative;
    bottom: 14px;
}

.btns {
    text-align: center;
}

.btn {
    width: 210px;
    height: 50px;
    margin-bottom: 16px;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: bold;
    color: #ffffff;
}

.btn-mere-det {
    background-color: rgba(255, 255, 255, 0.0);
    border: 1px solid #ffffff;
}

.btn-add-to-cart {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
}







/* *************sort*********** */

.sort span {
    display: block;
    background-color: #2c71b8;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 13px;
    line-height: 40px;
    font-size: 21px;
    width: 259px;
    height: 40px;
    border: 1px solid #ffffff;
}

.sort a {
    display: block;
    background-color: #2c71b8;
    color: #ffffff;
    height: 40px;
    padding-left: 20px;
    line-height: 40px;
    font-size: 21px;
    text-decoration: none;
    border: 1px solid #ffffff;
    border-top: none;
}

.angle-white2{
    position: relative;
    left: 150px;
}

.sort ul {
    display: none;
}

.sort:hover ul {
    display: block;
}

.sort a:hover {
    background-color: #ffffff;
    color: #2c71b8;
}

.sort ul {
    position: absolute;
    z-index: 5;
    width: 259px;
}

.sort {
    left: 10px;
}







/* *************filter************ */


.filter-body {
    height: 843px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    padding-top: 1px;
    padding-left: 28px;
}

input[type="checkbox"] {
    display: none;
}

label::before {
    content: "";
    display: inline-block;
    width: 9px;
    height: 9px;
    border: 1px solid #ffffff;
    margin-right: 10px;
    margin-top: 25px;
}

input[type="checkbox"]:checked + label::before {
    background-color: #ffffff;
}

.filter-type {
    margin-top: 31px;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
}

.filter-features {
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 64px;
}

.show-more {
    margin-top: 27px;
    
}
.show-more a{
    text-decoration: none;
    color: #ffffff;
    font-size: 21px;
}

.btn-submit {
    width: 210px;
    height: 50px;
    background-color: #2c71b8;
    color: #ffffff;
    border: 1px solid #ffffff;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: bold;
    margin-top: 30px;
}



.load-more {
    padding-top: 10px;
    padding-bottom: 90px;
    clear: both;
    text-align: center;
}

.load-more a {
    text-decoration: none;
    color: #ffffff;
    font-size: 36px;
}







/* ************fooref*************** */


.footer {
    background-color: rgba(255, 255, 255, 0.75);
    color: #2c71b8;
    height: 100px;
    clear: both;
    text-align: center;
    line-height: 100px;
    font-size: 21px;
}



/* *************hover btn************* */


.btn:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #ffffff;
    box-shadow: 10px 5px 5px rgba(255, 255, 255, 0.2);
}




/* **********Likes************ */

        
.liked {
    display: block;
}




/* ******** modal ********* */

.modal {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.modal-block {
    width: 400px;
    margin: 100px auto;
    height: 300px;
    border:1px solid #2c71b8;
    background-color: white;
    border-radius: 6px;
    padding: 15px;  
    font-size: 30px;
    color: #2c71b8;
    font-weight: bold;
    box-shadow: 10px 5px 5px #042647;
    text-align: center;
}

.box-for-x {
    /* background-color: chartreuse; */
    display: flex;
    justify-content: flex-end;
}

.btn-close {
    cursor: pointer;
    border: 2px solid #2c71b8;
    border-radius: 3px;
    width: 32px;
    height: 32px;
/* background-color: red;    */
}

.btn-close:hover {
    background-color: #2c71b8;
    color: #ffffff;
}

.form-title,.form-field {
    margin: 15px 0;
}

.form-field {
    /* background-color: aqua; */
    border: 2px solid #2c71b8;
    border-radius: 3px;
}

.form-field input {
    width: 95%;
    height: 30px;
    padding: 5px;
    border: none;
    font-family: 'Roboto', sans-serif;
    color: #2c71b8;
    font-size: 20px;
}

input {outline:none;}

/* або
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
} */

.form-button {
    display: flex;
    justify-content: center;
}

.please-call-btn {
    border: 2px solid #2c71b8;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    color: #2c71b8;
    background-color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}

.please-call-btn:hover {
    color: #ffffff;
    background-color: #2c71b8;
}

.show {
    display: block;
}

.hid{
    display: none;
}


/* ******** product quantity ********* */

.product-quantity {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    /* background-color: aqua; */
    text-align: center;
}

.product-quantity input{
    margin-left: 15px;
    margin-right: 15px;
    background-color: #ffffff;
    text-align: center;
    width: 80px;
    border: none;
    color: #094c8f;
    font-weight: 800;
}

.product-quantity button{
    cursor: pointer;
    /* background-color: #ffffff; */
    text-align: center;
    width: 24px;
    border: none;
    color: #094c8f;
    font-weight: 800;
}


.product-quantity input{
    /* background-color: rgb(200, 255, 0); */
    height: 25px;
    font-size: 16px;
    margin: 1px;
}



/* ***************** disabled ***************** */

:disabled{
    background-color: #094c8f;
    /* background-color: red; */
    /* background-color: #2c71b8; */
}